<!-- user profile data -->
<div class="w-full bg-white rounded-lg p-5 my-5">
  <!-- header section -->
  <div class="flex justify-between">
    <h3 class="text-lg font-medium capitalize">user profile data</h3>
    <span
      class="text-sm py-1 px-2 text-gray-400 bg-gray-100 rounded-lg cursor-pointer"
      >ID: #23452
      <img
        src="../../../../assets/assets/icons/copy.svg"
        alt=""
        class="btn-copy inline-block h-4"
    /></span>
  </div>
  <hr class="mt-4 h1" />

  <!-- user profile image -->
  <div class="flex flex-row w-full gap-5 items-start mt-5">
    <div class="h-20 w-20 md:h-24 md:w-24">
      <img
        src="../../../../assets/assets/icons/Michael Cullen.svg"
        alt=""
        class="rounded-full img-contain"
      />
    </div>
    <div class="flex flex-col justify-between h-28">
      <div class="">
        <h1 class="text-lg font-semibold capitalize">Amit jadhwar</h1>
        <p class="text-xs text-gray-500 capitalize">
          date of joining: 26 jan 2023
        </p>
      </div>
      <div class="flex flex-col md:flex-row gap-2 mt-5 md:mt-0 md:gap-5">
        <span
          class="block text-sm px-2 py-1 rounded-lg text-blue-500 bg-blue-100 cursor-pointer hover:bg-blue-50 whitespace-nowrap"
          ><img
            src="../../../../assets/assets/icons/mail.svg"
            alt=""
            class="inline-block mr-2"
          />Amit@productry.in</span
        >
        <span
          class="text-sm px-2 py-1 rounded-lg text-green-500 bg-green-100 cursor-pointer hover:bg-green-50 whitespace-nowrap"
          ><img
            src="../../../../assets/assets/icons/phone.svg"
            alt=""
            class="inline-block mr-2"
          />+91789478090</span
        >
      </div>
    </div>
  </div>

  <!-- address info -->
  <div class="grid grid-cols-3 my-5">
    <div class="col-span-3 md:col-span-2">
      <div class="my-5">
        <span class="text-sm text-gray-500 capitalize">address</span>
        <p class="font-medium text-justify">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt sed
          doloremque ea praesentium inventore laudantium.
        </p>
      </div>
      <div class="grid grid-cols-2 my-5 gap-2">
        <div class="">
          <span class="text-sm text-gray-500 capitalize">city</span>
          <p class="font-medium">mumbai</p>
        </div>
        <div class="">
          <span class="text-sm text-gray-500 capitalize">state</span>
          <p class="font-medium">maharastra</p>
        </div>
      </div>
      <div class="grid grid-cols-2 my-5 gap-2">
        <div class="">
          <span class="text-sm text-gray-500 capitalize">pincode</span>
          <p class="font-medium">422008</p>
        </div>
        <div class="">
          <span class="text-sm text-gray-500 capitalize">country</span>
          <p class="font-medium">india</p>
        </div>
      </div>
      <div class="grid grid-cols-2 mt-5 gap-2">
        <div class="">
          <span class="text-sm text-gray-500 capitalize">secondary email</span>
          <p class="font-medium cursor-pointer">
            <span class="hover:text-blue-500 break-words"
              >amit12dsdsds@productry.in</span
            >
          </p>
        </div>
        <div class="">
          <span class="text-sm text-gray-500 capitalize"
            >secondary phone no.</span
          >
          <p class="font-medium underline cursor-pointer">+919087575489</p>
        </div>
      </div>
    </div>
    <div class="col-span-1 ml-5">
      <div class="w-full h-full border-l-2"></div>
    </div>
  </div>
</div>

<!-- posted projects -->
<div class="w-full bg-white rounded-lg p-5 mt-5">
  <!-- header section -->
  <div class="">
    <h3 class="text-lg font-medium capitalize">posted projects</h3>
  </div>
  <hr class="mt-4 h1" />
  <!-- header section -->
  <div class="flex w-full justify-between mt-5 mb-10">
    <!-- tabs -->
    <div
      class="switch-tabs flex flex-row w-full overflow-x-scroll gap-2.5 btn-group max-h-max whitespace-nowrap"
    >
      <span
        id="all"
        class="tab-lifted py-1 px-5 rounded-[37px] text-zinc-600 font-medium text-sm border-zinc-400 border cursor-pointer tab-active"
        (click)="changeTab($event)"
        >All</span
      >
      <span
        id="ongoing"
        class="tab-lifted py-1 px-5 rounded-[37px] text-zinc-600 font-medium text-sm border-zinc-400 border cursor-pointer"
        (click)="changeTab($event)"
        >Ongoing</span
      >
      <span
        id="completed"
        class="tab-lifted py-1 px-5 rounded-[37px] text-zinc-600 font-medium text-sm border-zinc-400 border cursor-pointer"
        (click)="changeTab($event)"
        >Completed</span
      >
      <span
        id="postedProjects"
        class="tab-lifted py-1 px-5 rounded-[37px] text-zinc-600 font-medium text-sm border-zinc-400 border cursor-pointer"
        (click)="changeTab($event)"
        >Posted Projects</span
      >
    </div>
    <div class="">
      <img
        id="dropdownDefaultButton"
        data-dropdown-toggle="dropdown"
        data-dropdown-toggle="dropdown"
        src="../../../../assets/assets/icons/sort.svg"
        alt=""
        class="inline-block cursor-pointer w-6 h-6"
      />

      <!-- Dropdown menu -->
      <div
        id="dropdown"
        class="z-10 hidden bg-gray-200 rounded-lg divide-y divide-gray"
      >
        <ul class="py-" aria-labelledby="dropdownDefaultButton">
          <li>
            <span class="block px-4 py-2 cursor-pointer hover:bg-gray-100"
              >Dashboard</span
            >
          </li>
          <li>
            <span class="block px-4 py-2 cursor-pointer hover:bg-gray-100"
              >Settings</span
            >
          </li>
          <li>
            <span class="block px-4 py-2 cursor-pointer hover:bg-gray-100"
              >Earnings</span
            >
          </li>
          <li>
            <span class="block px-4 py-2 cursor-pointer hover:bg-gray-100"
              >Sign out</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- posted project card -->
  <div *ngIf="projectDetails.length > 0; else nodata" class="">
    <div
      id="accordion-container-{{ items.id }}"
      class="my-5 rounded-xl md:p-5 xl:pl-10"
      *ngFor="let items of projectDetails"
    >
      <h2 id="accordion-collapse-heading-1">
        <!-- card-top content -->

        <div class="flex flex-row items-start gap-2 md:gap-5 w-full">
          <div class="w-[25%] md:w-[10%]">
            <img
              src="{{ items.projectImg }}"
              alt=""
              class="object-contain w-[6rem] h-[6rem] md:w-20 md:h-20"
            />
          </div>

          <div class="w-[75%] md:w-[90%] flex flex-col items-start">
            <div class="flex w-full flex-row justify-between items-start">
              <div class="">
                <h3 class="text-lg font-semibold capitalize break-words mr-2">
                  {{ items.projectName }}
                  <span
                    *ngIf="!items.isRunning"
                    class="rounded-lg text-sm font-normal text-blue-500 bg-blue-100 px-2 py-0.5"
                    >New</span
                  >
                  <span
                    *ngIf="items.isRunning"
                    class="rounded-lg text-sm font-normal text-green-500 bg-green-100 px-2 py-0.5"
                    >Running</span
                  >
                </h3>
                <p class="text-xs text-gray-500 capitalize mt-1">
                  posted date: {{ items.postedDate }}
                </p>
              </div>
              <span
                id="show-more-btn-{{ items.id }}"
                class="show-more-btn text-blue-500 text-sm font-normal whitespace-nowrap capitalize cursor-pointer hover:underline"
                (click)="toggleAccordion(items.id)"
                >show more</span
              >
            </div>
          </div>
        </div>
        <div class="flex flex-row items-start gap-2 md:gap-5 w-full">
          <div class="hidden md:block md:w-[10%]"></div>
          <div class="md:w-[90%] flex flex-col items-start">
            <p class="text-sm text-gray-700 pr-3 xl:pr-10 mt-2 text-justify">
              <span class="underline font-semibold mr-2">Description:</span>
              {{ items.description }}
            </p>
          </div>
        </div>
      </h2>
      <div id="accordion-body-{{ items.id }}" class="hidden">
        <div class="flex flex-row w-full gap-3 md:gap-5">
          <div class="hidden md:block md:w-[10%]"></div>
          <div class="md:w-[90%] flex flex-col justify-end">
            <p class="text-sm text-gray-700 pr-3 xl:pr-10 mt-5 text-justify">
              <span class="underline font-semibold mr-2">Problem:</span
              >{{ items.problem }}
            </p>
            <p class="text-sm text-gray-700 pr-3 xl:pr-10 mt-5 text-justify">
              <span class="underline font-semibold mr-2">Expected Output:</span>
              {{ items.output }}
            </p>

            <!-- <div class="flex flex-row w-full justify-end mt-10">
            <span
              class="show-more-btn text-blue-500 pr-3 xl:pr-0 text-base font-normal capitalize cursor-pointer hover:underline"
              >view details</span
            >
          </div> -->
          </div>
        </div>
        <div class="w-full">
          <p class="text-base font-semibold text-gray-700 mb-3 mt-5 capitalize">
            experts involved
          </p>
          <div class="">
            <div
              class="w-full bg-white rounded-xl mb-5 p-2.5 md:p-5"
              *ngFor="let item of items.expertsInvolved"
            >
              <div class="flex flex-row items-start gap-2.5 lg:gap-5 w-full">
                <div class="w-[25%] md:w-[15%] xl:w-[10%] flex items-start">
                  <img
                    src="{{ item.profileImg }}"
                    alt=""
                    class="object-cover w-[5rem] h-[5rem] rounded-full md:w-20 md:h-20"
                  />
                </div>
                <div
                  class="w-[75%] md:w-[85%] xl:w-[90%] flex flex-col items-start"
                >
                  <div class="flex flex-row w-full justify-between items-start">
                    <h3
                      class="text-lg font-semibold capitalize break-words mr-2"
                    >
                      {{ item.name }}
                      <span
                        *ngIf="item.isWorking"
                        class="rounded-full text-orange-500 bg-orange-100 text-xs px-2 py-0.5 md:py-1 font-normal whitespace-nowrap"
                        ><img
                          src="../../../../assets/assets/icons/glass.svg"
                          alt=""
                          class="inline-block mr-2"
                        />
                        currently working</span
                      >
                      <span
                        *ngIf="!item.isWorking"
                        class="rounded-full text-green-500 bg-green-100 text-xs px-2 py-0.5 md:py-1 font-normal whitespace-nowrap"
                        ><img
                          src="../../../../assets/assets/icons/tick-circle.svg"
                          alt=""
                          class="inline-block mr-2"
                        />
                        completed</span
                      >
                    </h3>
                  </div>
                  <p class="text-sm text-gray-500 font-medium capitalize">
                    {{ item.designation }}
                  </p>
                  <p class="text-xs font-normal text-gray-500 capitalize">
                    Joining: {{ item.joinDate }}
                  </p>
                </div>
              </div>
              <div
                id="expert-show-more-btn-{{ items.id }}-{{ item.id }}"
                class="flex w-full justify-center mt-5"
              >
                <span
                  class="text-gray-400 text-sm font-normal capitalize whitespace-nowrap cursor-pointer hover:underline"
                  (click)="showExpertAccordion(items.id, item.id)"
                  >show more<img
                    src="../../../../assets/assets/icons/arrow-up.svg"
                    alt=""
                    class="inline-block ml-2"
                /></span>
              </div>
              <div
                id="expert-accordion-body-{{ items.id }}-{{ item.id }}"
                class="w-full hidden"
              >
                <div class="flex flex-row gap-5 w-full">
                  <div
                    class="hidden md:block md:w-[15%] xl:w-[10%] flex justify-center"
                  ></div>
                  <div class="md:w-[85%] xl:w-[90%]flex flex-col items-start">
                    <div
                      class="p-5 bg-yellow-50 text-yellow-400 xl:mr-10 text-sm rounded-lg text-justify mt-5"
                    >
                      <p class="">
                        <span class="font-semibold mr-2">Note:</span>
                        {{ item.description }}
                      </p>
                    </div>
                  </div>
                </div>
                <div
                  *ngIf="item.transactionData"
                  class="w-full bg-white rounded-lg lg:p-5 mt-5"
                >
                  <!-- header section -->
                  <div class="">
                    <h3 class="text-base font-semibold capitalize">
                      latest transaction's
                    </h3>
                  </div>

                  <!-- transaction table -->
                  <div
                    class="relative w-full overflow-x-auto shadow-md rounded-lg border border-1 md:mt-5"
                  >
                    <table
                      class="w-full text-sm text-left text-gray-500 whitespace-nowrap"
                    >
                      <thead
                        class="text-sm text-gray-700 capitalize bg-white border-b-2"
                      >
                        <tr>
                          <th scope="col" class="px-2 py-3">
                            <span class="sr-only">id</span>
                          </th>
                          <th scope="col" class="px-6 py-3">transaction id</th>
                          <th scope="col" class="px-6 py-3">paid</th>
                          <th scope="col" class="px-6 py-3">pending</th>
                          <th scope="col" class="px-6 py-3">date</th>
                          <th scope="col" class="px-6 py-3">Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr
                          class="bg-white border-b"
                          *ngFor="let transaction of item.transactionData"
                        >
                          <th scope="row" class="px-2 py-4">
                            {{ transaction.id }}
                          </th>

                          <td
                            class="px-6 py-4 text-sm text-gray-500 font-normal"
                          >
                            <span
                              class="py-1 px-2 text-gray-400 bg-gray-100 rounded-lg cursor-pointer whitespace-nowrap"
                              >ID: #{{ transaction.transactionId }}
                              <img
                                src="../../../../assets/assets/icons/copy.svg"
                                alt=""
                                class="btn-copy inline-block h-4"
                            /></span>
                          </td>
                          <td
                            class="px-6 py-4 text-sm text-gray-500 font-semibold"
                          >
                            <span
                              class="text-green-500"
                              *ngIf="transaction.paid != null"
                              >{{ transaction.paid }}</span
                            >
                            <span
                              class="font-semibold text-black"
                              *ngIf="transaction.paid == null"
                              >Null</span
                            >
                          </td>
                          <td
                            class="px-6 py-4 text-sm text-gray-500 font-semibold"
                          >
                            <span
                              class="text-red-500"
                              *ngIf="transaction.pending != null"
                              >{{ transaction.pending }}</span
                            >
                            <span
                              class="font-semibold text-black"
                              *ngIf="transaction.pending == null"
                              >Null</span
                            >
                          </td>
                          <td
                            class="px-6 py-4 text-sm text-gray-500 font-normal whitespace-nowrap"
                          >
                            {{ transaction.date }}
                          </td>
                          <td
                            class="px-6 py-4 text-sm text-gray-500 font-normal"
                          >
                            <span
                              *ngIf="transaction.status == 'Success'"
                              class="inline-flex items-center bg-green capitalize text-green-500 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full"
                            >
                              {{ transaction.status }}
                            </span>
                            <span
                              *ngIf="transaction.status == 'Failed'"
                              class="inline-flex items-center bg-red capitalize text-red-500 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full"
                            >
                              {{ transaction.status }}
                            </span>
                            <span
                              *ngIf="transaction.status == 'Return'"
                              class="inline-flex items-center bg-yellow-100 capitalize text-yellow-500 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-full"
                            >
                              {{ transaction.status }}
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- pagination -->
                  <div class="flex flex-row justify-end w-full my-6">
                    <nav aria-label="Page navigation example">
                      <ul class="inline-flex -space-x-px text-sm">
                        <li>
                          <a
                            class="flex items-center cursor-pointer justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700"
                            >Previous</a
                          >
                        </li>
                        <li>
                          <a
                            class="flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
                            >1</a
                          >
                        </li>
                        <li>
                          <a
                            class="flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
                            >2</a
                          >
                        </li>
                        <li>
                          <a
                            aria-current="page"
                            class="flex items-center cursor-pointer justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700"
                            >3</a
                          >
                        </li>
                        <li>
                          <a
                            class="flex items-center justify-center cursor-pointer px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
                            >4</a
                          >
                        </li>
                        <li>
                          <a
                            class="flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
                            >5</a
                          >
                        </li>
                        <li>
                          <a
                            class="flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700"
                            >Next</a
                          >
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
                <div
                  id="expert-show-less-btn-{{ items.id }}-{{ item.id }}"
                  class="flex w-full justify-center hidden mt-3"
                >
                  <span
                    class="text-gray-400 text-sm font-normal capitalize whitespace-nowrap cursor-pointer hover:underline"
                    (click)="showExpertAccordion(items.id, item.id)"
                    >show less<img
                      src="../../../../assets/assets/icons/arrow-down.svg"
                      alt=""
                      class="inline-block ml-2"
                  /></span>
                </div>
              </div>
            </div>
          </div>
          <span
            class="text-gray-400 text-sm font-normal capitalize whitespace-nowrap cursor-pointer hover:underline"
            (click)="toggleAccordion(items.id)"
            ><img
              src="../../../../assets/assets/icons/sidebar-top.svg"
              alt=""
              class="inline-block mr-2"
            />show less</span
          >
        </div>
      </div>
    </div>
    
  </div>
  <ng-template #nodata>
    <div class="w-full grid grid-cols-2 gap-2.5 lg:gap-5 h-max">
      <div class="col-span-2 w-full">
        <div class="flex flex-col w-full justify-center items-center h-[25rem]">
          <img
            src="../../../../../assets/assets/icons/nodata.png"
            alt=""
            class="h-16"
          />
          <h1 class="text-lg mt-3 font-semibold text-gray-400">No data</h1>
        </div>
      </div>
    </div>
  </ng-template>
</div>
