<div *ngIf="!viewDetails; else showDetails" class="">
<!-- search bar -->

<div class="flex flex-col md:flex-row justify-between md:items-center">
  <div class="flex flex-col">
    <!-- <p class="text-xs text-gray-400">Access Control Board ></p> -->
    <p class="text-lg font-bold">Projects</p>
  </div>

  <div class="relative md:w-[40%] mt-5 md:mt-0">
    <form class="flex items-center">
      <label for="simple-search" class="sr-only">Search</label>
      <div class="relative w-full">
        <div
          class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 18 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2"
            />
          </svg>
        </div>
        <input
          type="text"
          id="simple-search"
          class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg block w-full pl-10 p-2.5"
          placeholder="Search Projects..."
          required
        />
      </div>
      <button
        type="submit"
        class="p-2.5 ml-2 text-sm font-medium text-white bg-blue-500 rounded-lg border border-blue-600 hover:bg-blue-600 focus:ring-2 focus:ring-blue-300"
      >
        <svg
          class="w-4 h-4"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
          />
        </svg>
        <span class="sr-only">Search</span>
      </button>
    </form>
  </div>

 
</div>

<!-- tabs -->
<div

  class="switch-tabs flex flex-row w-full overflow-x-scroll gap-2.5 btn-group max-h-max whitespace-nowrap mt-2.5 lg:mt-5"
>
  <span
    id="all"
    class="tab-lifted py-1 px-5 rounded-[37px] text-zinc-600 font-medium text-sm border-zinc-400 border cursor-pointer tab-active"
    (click)="changeTab($event)"
    >All</span
  >
  <span
    id="ongoing"
    class="tab-lifted py-1 px-5 rounded-[37px] text-zinc-600 font-medium text-sm border-zinc-400 border cursor-pointer"
    (click)="changeTab($event)"
    >Ongoing</span
  >
  <span
    id="completed"
    class="tab-lifted py-1 px-5 rounded-[37px] text-zinc-600 font-medium text-sm border-zinc-400 border cursor-pointer"
    (click)="changeTab($event)"
    >Completed</span
  >
  <span
    id="postedProjects"
    class="tab-lifted py-1 px-5 rounded-[37px] text-zinc-600 font-medium text-sm border-zinc-400 border cursor-pointer"
    (click)="changeTab($event)"
    >Posted Projects</span
  >
</div>
<!-- table for pending expert verification -->

<div *ngIf="projectDetails.length>0;else nodata" class="relative overflow-x-auto shadow-md rounded-lg mt-5 whitespace-nowrap">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-sm text-gray-700 capitalize bg-white border-b-2">
      <tr>
        <th scope="col" class="px-2 py-3">
          <span class="sr-only">id</span>
        </th>
        <th scope="col" class="px-6 py-3">project name</th>
        <th scope="col" class="px-6 py-3">expert required</th>
        <th scope="col" class="px-6 py-3">project description</th>
        <th scope="col" class="px-6 py-3">date</th>
        <th scope="col" class="px-6 py-3">Status</th>
        <th scope="col" class="px-6 py-3">Experts Engaged</th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">view</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b" *ngFor="let items of projectDetails">
        <th scope="row" class="px-2 py-4">{{ items.id }}</th>
        <td
          class="px-6 py-4 flex flex-nowrap min-w-max items-center gap-x-2  text-base font-medium"
        >
          <div class="">
            <div class="" >
              <img
                class="w-10 h-10 rounded-full inline-block"
                src="{{ items.profileImg }}"
                alt=""
              />
              
            </div>

          
          </div>
          <div class="">
            <h3 class="text-base font-medium text-black  capitalize">
              {{ items.projectName }}
            </h3>
            <p class="text-xs text-blue-500">Posted By:{{ items.postedBy }}</p>
          </div>
        </td>
        <td class="px-6 py-4 text-sm text-gray-500 font-normal capitalize ">
          {{ items.expertRequired }}
        </td>
        <td class="px-6 py-4 text-sm text-gray-500 font-normal ">
          {{ items.projectDescription }}
        </td>
        <td class="px-6 py-4 text-sm text-gray-500 font-normal capitalize ">
          {{ items.date }}
        </td>
       
        <td class="px-6 py-4 text-sm text-gray-500 font-normal">
          <span
            *ngIf="items.isRunning"
            class="inline-flex items-center bg-green-100 capitalize text-green-500 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-lg"
          >
            Running
          </span>
          <span
            *ngIf="!items.isRunning"
            class="inline-flex items-center bg-blue-100 capitalize text-blue-500 text-xs font-medium mr-2 px-2.5 py-0.5 rounded-lg"
          >
            completed
          </span>
        </td>
         <td class="px-6 py-4 text-sm text-gray-500 font-normal">
          <div class="flex -space-x-4 min-w-max">
            <img
              class="w-10 h-10 border-2 border-white rounded-full"
              src="https://flowbite.com/docs/images/people/profile-picture-5.jpg"
              alt=""
            />
            <img
              class="w-10 h-10 border-2 border-white rounded-full"
              src="https://flowbite.com/docs/images/people/profile-picture-2.jpg"
              alt=""
            />
           
           
            <a
              class="flex items-center justify-center w-10 h-10 text-xs  font-bold text-blue-600 bg-blue-100 border-2 border-white rounded-full hover:bg-blue-200"
              href="#"
              >+3</a
            >
          </div>
        </td>
        <td class="px-6 py-4 text-right text-md text-black min-w-max">
          <img
            src="../../../assets/assets/icons/eye.svg"
            alt=""
            class="h-5 w-5 max-w-xl cursor-pointer hover:scale-110"
           (click)="showProjectDetails(true)"
          />
        </td>
       
       
      </tr>
    </tbody>
  </table>
  
</div>

<ng-template #nodata>
    <div class="w-full grid grid-cols-2 gap-2.5 lg:gap-5 h-max">
      <div class="col-span-2 w-full">
        <div class="flex flex-col w-full justify-center items-center h-[25rem]">
          <img
            src="../../../../../assets/assets/icons/nodata.png"
            alt=""
            class="h-16"
          />
          <h1 class="text-lg mt-3 font-semibold text-gray-400">No data</h1>
        </div>
      </div>
    </div>
  </ng-template>

<div *ngIf="projectDetails.length>0" class="flex flex-row justify-end w-full my-6">
  <nav aria-label="Page navigation example">
    <ul class="inline-flex -space-x-px text-sm">
      <li>
        <a
          class="flex items-center cursor-pointer justify-center px-3 h-8 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700"
          >Previous</a
        >
      </li>
      <li>
        <a
          class="flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
          >1</a
        >
      </li>
      <li>
        <a
          class="flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
          >2</a
        >
      </li>
      <li>
        <a
          aria-current="page"
          class="flex items-center cursor-pointer justify-center px-3 h-8 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700"
          >3</a
        >
      </li>
      <li>
        <a
          class="flex items-center justify-center cursor-pointer px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
          >4</a
        >
      </li>
      <li>
        <a
          class="flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700"
          >5</a
        >
      </li>
      <li>
        <a
          class="flex items-center cursor-pointer justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700"
          >Next</a
        >
      </li>
    </ul>
  </nav>
</div>

</div>

<ng-template #showDetails>
    <div  class="w-full  flex flex-col  mt-2.5 lg:mt-5 ">
    <!-- go back button -->
    <div class="">
      <button
        class="btn-go-back px-3 py-1 rounded-full bg-transparent text-gray-300 border border-1 border-gray-300 hover:border-gray-800"
        (click)="showProjectDetails(false)"
      >
        <svg
          class="w-4 h-3 text-gray-300 inline-block"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 5H1m0 0 4 4M1 5l4-4"
          />
        </svg>
        <span class="text-sm font-semibold ml-2">Go Back</span>
      </button>
    </div>
   
    <app-project-info></app-project-info>
    </div>
  </ng-template>